{% extends 'secretory_base.html' %}
{% block content %}

<p class="pp">News:<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente amet, accusamus eveniet molestias deserunt porro id et, debitis voluptas, similique dolorum aperiam laudantium adipisci libero fugit? Impedit, itaque! Animi ducimus veniam molestiae fugiat cupiditate ipsum explicabo veritatis, vitae iusto! Libero totam id deleniti magni ratione consectetur error voluptate asperiores aut?</p>

<!-- JavaScript to toggle responsive navbar and activate link -->

{% endblock %}
