{% extends 'secretory_base.html' %}
{% block content %}

<!-- Profile content -->
<div class="container" style="margin-left:250px; margin-top: 50px; display: inline-block; width: 500px; border: 2px solid slategray; padding: 10px;">
  <div class="profile-intro">
    <img src="{{userdata.picture.url}}" style="width:200px; height:200px; margin-left: 150px;">
    <!-- <h2 style="border-bottom:2px solid silver;">{{userdata.first_name}}</h2> -->
    <p style="border-bottom: 2px solid silver;"><strong>Name:</strong> {{userdata.name}}</p>
    <!-- <p style="border-bottom:2px solid silver;"><strong>Last Name:</strong>{{userdata.last_name}}</p> -->
    <p style="border-bottom: 2px solid silver;"><strong>Email:</strong>{{userdata.email}}</p>
    <!-- <p style="border-bottom:2px solid silver;"><strong>House No:</strong>{{userdata.House_no}}</p> -->
    <!-- <p style="border-bottom:2px solid silver;"><strong>Block No:</strong>{{userdata.block_no}}</p> -->
    <!-- <p style="border-bottom:2px solid silver;"><strong>Block No:</strong>{{userdata.no_of_members}}</p> -->
  </div>
</div>

</body>
</html>
{% endblock %}