{% extends 'secretory_base.html' %}
{% block content %}


<table>
    <style>
        table {
            display: inline-block;
          /* border-collapse: collapse; */
          width: 1500px;
          margin-left: 250px;
          margin-top: 50px;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        th {
          background-color: #333;
          color: white;
        }
        
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
        
    </style>
  <tr>
    <th>watchman_name</th>
    <th>watchman_contact</th>
    <th>watchman_email</th>
   
  </tr>
  {% for i in data %}
  <tr>
    <td>{{i.watchmen_name}}</td>
    <td>{{i.contact_no}}</td>
    <td>{{i.email}}</td>
    

  </tr> 
  {% endfor %} 

</table>




{% endblock %}